<widget id="A6039512896234"  version="0.0.1">
    <name>icat</name>
    <description>
        personal note
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        APICloud.SIR
    </author>
    <content src="app.json" />
    <access origin="*" />
    <preference name="windowBackground" value="#FFF" />
    <permission name="call" />
</widget>
